.highlight-wrap {
  background: #21252b;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .4);
  padding-top: 30px;
}
.highlight-wrap::before {
  background: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: ' ';
  height: 12px;
  left: 12px;
  margin-top: -20px;
  position: absolute;
  width: 12px;
}
