.highlight-wrap[data-rel] {
  position: relative;
  background: #21252b;
  outline:none;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .4);
  padding-top: 30px;
}
.highlight-wrap[data-rel]::before {
  background: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: attr(data-rel);
  white-space: nowrap;
  color: white;
  text-indent: 70px;
  line-height: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  height: 12px;
  left: 12px;
  margin-top: -20px;
  position: absolute;
  width: 12px;
}
