code{
	color: #e8408d;
}
/*评论区增加背景图片*/
#veditor {
	background-image: url(https://cdn.jsdelivr.net/gh/drew233/cdn/20200409110727.webp);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(255, 255, 255, 0);
	resize: vertical
}
#veditor:focus{
	background-position-y: 200px;
	transition: all 0.2s ease-in-out 0s;
}
/*鼠标放置头像旋转*/
img.vimg {
     transition: all 1s   /* 旋转时间为 1s */
}
/*评论卡片式背景*/
img.vimg:hover {
     transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
}
#vcomments .vcards .vcard {
	padding: 15px 20px 0 20px;
	border-radius: 10px;
	margin-bottom: 15px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, .12);
	transition: all .3s
}
#vcomments .vcards .vcard:hover {
	box-shadow: 0 0 8px 3px rgba(0, 0, 0, .12)
}
#vcomments .vcards .vcard .vh .vcard {
	border: none;
	box-shadow: none;
}

/*github badge*/
.github-badge-div {
	text-align:center;
}
.github-badge {
	display: inline-block;
	border-radius: 4px;
	text-shadow: none;
	font-size: 11px;
	color: #fff;
	line-height: 13px;
	background-color: #4D4D4D;
  margin-bottom: 5px;
}
.github-badge .badge-subject {
	display: inline-block;
	background-color: #4D4D4D;
	padding: 5px 4px 4px 6px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.github-badge .badge-value {
	display: inline-block;
	padding: 5px 6px 4px 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.github-badge .bg-brightgreen {
	background-color: #4DC820 !important;
}
.github-badge .bg-orange {
	background-color: #FFA500 !important;
}
.github-badge .bg-yellow {
	background-color: #D8B024 !important;
}
.github-badge .bg-blueviolet {
	background-color: #8833D7 !important;
}
.github-badge .bg-pink {
	background-color: #F26BAE !important;
}
.github-badge .bg-red {
	background-color: #e05d44 !important;
}
.github-badge .bg-blue {
	background-color: #007EC6 !important;
}
.github-badge .bg-lightgrey {
	background-color: #9F9F9F !important;
}
.github-badge .bg-grey, .github-badge .bg-gray {
	background-color: #555 !important;
}
.github-badge .bg-lightgrey, .github-badge .bg-lightgray {
	background-color: #9f9f9f !important;
}


/*无序列表*/
.markdown-body ol,
.markdown-body ul {
  margin-top: 0.4rem;
  padding: 0 0 0 0.8rem;
  list-style: none;
  counter-reset: li;
}
@media screen and (max-width: 768px) {
  .markdown-body ol,
  .markdown-body ul {
    padding: 0 0 0 0.4rem;
  }
}
.markdown-body ol p,
.markdown-body ul p {
  margin: 0 0 0.5rem;
}
.markdown-body ol ol,
.markdown-body ul ol,
.markdown-body ol ul,
.markdown-body ul ul {
  padding-left: 0.6rem;
}
@media screen and (max-width: 768px) {
  .markdown-body ol ol,
  .markdown-body ul ol,
  .markdown-body ol ul,
  .markdown-body ul ul {
    padding-left: 0.2rem;
  }
}
.markdown-body ol li:not(.tab),
.markdown-body ul li:not(.tab) {
  position: relative;
  margin: 0.2rem 0;
}
.markdown-body ol li:hover:before,
.markdown-body ul li:hover:before {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.markdown-body ol li:before,
.markdown-body ul li:before {
  position: absolute;
  top: 0;
  left: 0;
  background: #49b1f5;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.markdown-body ol > li:not(.tab) {
  padding: 0.2em 0.2em 0.2em 1.8em;
}
.markdown-body ol > li:before {
  margin-top: 0.65em;
  width: 1.45em;
  height: 1.45em;
  border-radius: 0.725em;
  content: counter(li);
  counter-increment: li;
  text-align: center;
  font-size: 0.85em;
  line-height: 1.45em;
}
.markdown-body ul > li:not(.tab) {
  padding: 0.2em 0.2em 0.2em 1.4em;
}
.markdown-body ul > li:not(.tab):hover:before {
  border-color: #ff7242;
}
.markdown-body ul > li:not(.tab):before {
  top: 0.78em;
  width: 13px;
  height: 10px;
  border: 3px solid #49b1f5;
  border-radius: 10px;
  background: transparent;
  content: '';
  line-height: 10px;
}


/*h1 h2 h3 h4 h5 h6*/
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.markdown-body h1:before,
.markdown-body h2:before,
.markdown-body h3:before,
.markdown-body h4:before,
.markdown-body h5:before,
.markdown-body h6:before {
  position: absolute;
  top: calc(50% - 0.35rem);
  color: #f47466;
  content: '';
  line-height: 1;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.markdown-body h1:hover:before,
.markdown-body h2:hover:before,
.markdown-body h3:hover:before,
.markdown-body h4:hover:before,
.markdown-body h5:hover:before,
.markdown-body h6:hover:before {
  color: #49b1f5;
}
.markdown-body h1 code {
  font-size: 1rem;
}
.markdown-body h1:before {
  margin-left: -1.2rem;
  font-size: 1rem;
}
.markdown-body h1:hover {
  padding-left: 0.3rem;
}
.markdown-body h2 code {
  font-size: 0.9rem;
}
.markdown-body h2:before {
  margin-left: -1.1rem;
  font-size: 0.9rem;
}
.markdown-body h2:hover {
  padding-left: 0.3rem;
}
.markdown-body h3 code {
  font-size: 0.8rem;
}
.markdown-body h3:before {
  margin-left: -1rem;
  font-size: 0.8rem;
}
.markdown-body h3:hover {
  padding-left: 0.3rem;
}
.markdown-body h4 code {
  font-size: 0.7rem;
}
.markdown-body h4:before {
  margin-left: -0.9rem;
  font-size: 0.7rem;
}
.markdown-body h4:hover {
  padding-left: 0.3rem;
}
.markdown-body h5 code {
  font-size: 0.6rem;
}
.markdown-body h5:before {
  margin-left: -0.8rem;
  font-size: 0.6rem;
}
.markdown-body h5:hover {
  padding-left: 0.3rem;
}
.markdown-body h6 code {
  font-size: 0.6rem;
}
.markdown-body h6:before {
  margin-left: -0.8rem;
  font-size: 0.6rem;
}
.markdown-body h6:hover {
  padding-left: 0.3rem;
}
