/* 鼠标指针图标bynote.cn */

body {
    cursor: url(https://cdn.jsdelivr.net/gh/EmoryHuang/BlogBeautify/launa/Arrow.cur), auto;
}


/*a标签*/

a:hover {
    cursor: url(https://cdn.jsdelivr.net/gh/EmoryHuang/BlogBeautify/launa/Hand.cur), auto;
}


/*按钮*/

button:hover {
    cursor: url(https://cdn.jsdelivr.net/gh/EmoryHuang/BlogBeautify/launa/Hand.cur), auto;
}

/*文字*/

code:hover{
	cursor: url(https://cdn.jsdelivr.net/gh/EmoryHuang/BlogBeautify/launa/IBeam.cur), auto;
}

#rightside>div>button,
#rightside>div>a {
    display: block;
    margin-bottom: 2px;
    width: 30px;
    height: 30px;
    color: var(--btn-color);
    text-align: center;
    font-size: 16px;
    cursor: url(https://cdn.jsdelivr.net/gh/EmoryHuang/BlogBeautify/launa/Hand.cur), auto;
}


/* 文章标签 */

.layout_post .tag_share .post-meta__tags {
    cursor: url(https://cdn.jsdelivr.net/gh/EmoryHuang/BlogBeautify/launa/Hand.cur), auto;
}


/* 评论区 */

.vcol * {
    cursor: url(https://cdn.jsdelivr.net/gh/EmoryHuang/BlogBeautify/launa/Hand.cur), auto;
}

.v[data-class=v] .vicon {
    cursor: url(https://cdn.jsdelivr.net/gh/EmoryHuang/BlogBeautify/launa/Hand.cur), auto;
}

.v[data-class=v] .vbtn {
    cursor: url(https://cdn.jsdelivr.net/gh/EmoryHuang/BlogBeautify/launa/Hand.cur), auto;
}


/* 回复 */

.vat {
    cursor: url(https://cdn.jsdelivr.net/gh/EmoryHuang/BlogBeautify/launa/Hand.cur), auto;
}


/*i标签*/

i:hover {
    cursor: url(https://cdn.jsdelivr.net/gh/EmoryHuang/BlogBeautify/launa/Hand.cur), auto;
}


/*up酱*/

#upj:hover {
    cursor: url(https://cdn.jsdelivr.net/gh/EmoryHuang/BlogBeautify/launa/Hand.cur), auto;
}



/*分页器*/

#pagination .page-number:hover {
    cursor: url(https://cdn.jsdelivr.net/gh/EmoryHuang/BlogBeautify/launa/Hand.cur), auto;
}
/* 分页器的三个点(...) */
.space {
    color: #00c4b6;
}